<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/shoe-edit.css">
</head>
<body>
  <header>
    <ul class="nav">
      <a href="/"><img id="logo" src="/images/logo.png"  alt=""></a>

      <li><a href="/shoes">Latest Post</a></li>
      <li>
        <form action="/sessions?_method=DELETE" method="post">
          <input class="btn" type="submit" name="" value="logout">
        </form>
      </li>
    </ul>
  </header>

  <br> <br><br><br><br>
  <form class="" action="/shoes/<%=shoe._id%>?_method=PUT" method="post">
    <label>Sneaker Name:</label><input type="text" name="shoeName" value="<%=shoe.shoeName%>" autofocus onfocus="this.select()"><br>

    <label>Status:</label><input type="text" name="status" value="<%=shoe.status%>"autofocus onfocus="this.select()"><br>

    <label>Price:</label><input type="text" name="price" value="<%=shoe.price%>"autofocus onfocus="this.select()"><br>

    <label>Location:</label><input type="text" name="location" value="<%=shoe.location%>"autofocus onfocus="this.select()"><br>

    <label>Image:</label><input type="text" name="img" width="150" height="150" value="<%=shoe.img%>"autofocus onfocus="this.select()"><br>
    <input class="button" type="submit" value="Update" >

  </form>
</body>
<footer class="footer">
  <ul class="nav">
    <p>Copyright &copy; Stanley Gorman</p>
  </ul>
</footer>
</html>
